# mkdocs.yml
site_name: "WF"
site_url: https://prplphase.github.io/

theme:
  name: material
  features:
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
  palette:
    - scheme: slate
      primary: custom
      toggle:
        icon: material/weather-night
        name: Mudar para modo claro
    - scheme: default
      primary: custom
      toggle:
        icon: material/weather-sunny
        name: Mudar para modo escuro
  icon:
    repo: fontawesome/brands/github


# NAVEGAÇÃO HIERÁRQUICA (LATERAL )
nav:
  - Projetos: index.md
  - About (EN): about.md

# COPYRIGHT NO RODAPÉ
copyright: Copyright &copy; 2026 Wilkerson C.

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.css
